.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  height: 5vw;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.2rem;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}


.nav-logo {
  width: 15%;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;
}
.nav-links {
  display: grid;
  grid-template-columns: repeat(4,auto);
  gap: 20px;
  list-style: none;
  padding: 0 !important;
}
.nav-link {
  /* float: right; */
  display: block;
  color: #000000;
  text-align: center;
  padding: 7px 27px 7px 28px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 550;
  margin: 20px 0 0 20px;
  transition: 0.3s all;
}

.nav-link:hover {
  background: #DBD0C0;
  color:white;
  border-radius: 21px;
  font-weight: 600;
}
.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.top-banner {
  justify-content: center;
  width: 80%;
  height: 30vw;
  margin: 4vw 0 0;
}

@media (min-width: 320px) and (max-width: 600px) {
  .navbar {
    /* position: relative; */
    height: 15vw;
    /*position: fixed;*/
  }
  .nav-link {
    margin: 0;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50px;
    left: -100%;
    transition: 0.5s all;
  }
  .nav-links.active {
    position: absolute;
    z-index: 5;
    background:white;
    left: 0;
  }
  .nav-item {
    padding: 5px 0;
  }
  .nav-icon {
    display: flex;
  }
  .top-banner {
    width: 100%;
    height: 100%;
    margin-top: 15vw;
  }
  .nav-logo {
    width: 50%;
  }
}

@media (min-width: 601px) and (max-width: 990px) {
  .top-banner {
    margin-top: 10vw;
  }
  .navbar {
    height: 10vw;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.2rem;
    /*position: fixed;*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .nav-logo {
    width: 20%;
  }
  .nav-link {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 7px 7px 7px 7px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 550;
    margin: 25px 0 0 0px;
    transition: 0.3s all;
  }

  .nav-link:hover {
    background: #231f20;
    color:white;
    border-radius: 21px;
    font-weight: 600;
  }
  .line {
    margin-top: -1vw;
    margin-bottom: -1vw;
    z-index: -1;
    height: 30px;
  }
}

.subtitleHubungiKami {
  font-weight: 600;
  font-size: 21px;
  margin-left: 8%;
  margin-top: 4vw;
  margin-bottom: 2vw;
}
.rowColContact {
  margin-left: 8%;
}
.subtitleLayanan {
  font-weight: 600;
  font-size: 21px;
  margin-left: 10%;
  margin-top: 5vw;
  margin-bottom: 21;
}
.logoOcbc {
  margin-bottom: 3vw;
  width: 30%;
}

.medsosLogo {
  width: 36px;
  height: 36px;
  margin-right: 1vw;
}

.medsosGrid {
  display: flex;
}
.listText {
  /*font-family: cursive;*/
  font-size: 18px;
  width: 45vw;
}

.logoAwal {
  margin-left: 8vw;
  margin-bottom: 8vw;
  width: 30%;
}
.callLogo {
  width: 24px;
  height: 24px;
  margin-right: 0.7vw;
}
.medsosGrid {
  display: flex;
}

.layanan {
  width: 35vw;
  font-weight: 500;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 1vw;
  margin-bottom: 20;
}

.footer {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
